@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Caveat');

#header {
  position: fixed;
  text-align: left;
  font-size: 50px;
  font-family: 'Patrick Hand SC', cursive;
  padding-left: 20px;
  margin-top: 10px;
}

#nav {
  position: fixed;
  padding-left: 600px;
  padding-top: 35px;
  font-family: 'Reenie Beanie', cursive;
}

#nav a {
  font-size: 35px;
  color: black;
  margin: 40px;
  text-decoration: none;
}

#nav a:hover {
  color: lightgrey;
  font-size: 40px;
}

#cake {
  position: fixed;
  width: 280px;
  top: 120px;
  left: 30px;
  cursor: pointer;
}

#matcha {
  position: fixed;
  width: 280px;
  top: 280px;
  left: 325px;
  cursor: pointer;
}

#cc {
  position: fixed;
  width: 280px;
  top: 120px;
  right: 360px;
  cursor: pointer;
}

#coffee {
  position: fixed;
  width: 280px;
  top: 280px;
  right: 30px;
  cursor: pointer;
}

#flavors img:hover {
  width: 300px;
}
